body {
	background: url(../images/blurcover.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  font-family: 'Raleway', sans-serif;
}

.port {
	background: url(../images/portfolio.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;	
}

.contact {
	background: url(../images/oculus.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;		
}

.contactInfo {
  text-align: center;
  padding-bottom: 5%;
  font-size: 1.10em;
}

.contactIcons {
  text-align: center;
  text-decoration: none;
  color: #ecf0f1;
}

.contactIcons a {
  text-decoration: none;
  color: #ecf0f1;
}

.navbar {
	background-color: black;
	width: 100%;
	text-align: center;
	font-size: 1.2em;
	padding-top: 1%;
	padding-bottom: 1%;
	opacity: 0.95;
	border-radius: 0;
}

@media only screen and (min-width: 1020px) {
  .navbar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 4;
  }
}

.navbar a {
	color: white;
	text-decoration: none;
}

.portfolio a {
	color: white;
	text-decoration: none;
}

.portfolio a:hover {
	color: #7f8c8d;
}

.portfolio h3 {
  text-shadow:
    1px 1px 0 #000; 
}

h2 { 
	padding-top: 10%;
	text-align: center;
	font-size: 2em;
}

h3 {
  text-align: center;
  font-size: 1em;
}

.skills h1 {
  text-align: center;
  font-size: 1em;
}

#sectionHeading {
  text-align: center;
  font-size: 3em;
}

@media (min-width:481px) { 
  h2 {
    font-size: 3.5em;
  }
  h3 {
    font-size: 1.25em;
  }
  .navbar {
    font-size: 1.5em;
  }
  .skills h1 {
    text-align: center;
    font-size: 2em;
  }
}

h4 {
  text-align: center;
}

.skills {
	margin-top: 10%;
  padding-top: 5%;
	background-color: white;
  min-height: 650px;
  color: black;
}

.skills a {
  text-decoration: none;
}

.contactdiv {
  margin-top: 10%;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: white;
  min-height: 260px;
  color: black;  
}

#about {
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
}

#me {
	height: 25%;
	width: 25%;
}

#me2 {
  height: 35%;
  width: 35%;
  float: left;
}

#aboutme {
  padding-top: 3%;
  font-size: 1.15em;
  text-align: justify;
}

#envelope:hover {
  color: #db4437;
}

#linkedin:hover {
  color: #0077b5;
}

#number:hover {
  color: #231F20;
}

footer {
	background: url(../images/footah.png);
	text-align: center;
	height: 100%;
	padding-top: 2%;
	padding-bottom: 1%;
	font-size: 1em;
}

/* Underline From Center from Hover.css */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #7f8c8d;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

/* Icon Down from Hover.css*/
@-webkit-keyframes hvr-icon-down {
  0%,
  50%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  25%,
  75% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}

@keyframes hvr-icon-down {
  0%,
  50%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  25%,
  75% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}

/* Icon Down */
.hvr-icon-down {
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  padding-right: 2.2em;
  margin-left: 1.5%;
}
.hvr-icon-down:before {
  content: "\f01a";
  position: absolute;
  right: 1em;
  padding: 0 1px;
  font-family: FontAwesome;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.hvr-icon-down:hover:before, .hvr-icon-down:focus:before, .hvr-icon-down:active:before {
  text-decoration: none;
  -webkit-animation-name: hvr-icon-down;
  animation-name: hvr-icon-down;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}

/*Cool icon stuff*/
.hovicon {
    display: inline-block;
    font-size: 45px;
    line-height: 90px;
    cursor: pointer;
    margin: 20px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    text-decoration: none;
    z-index: 1;
    color: #fff;
}

.hovicon:after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content:'';
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.hovicon:before {
    speak: none;
    font-size: 48px;
    line-height: 90px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    display: block;
    -webkit-font-smoothing: antialiased;
}
.hovicon.effect-1 {
    background: #7f8c8d;
    -webkit-transition: background 0.2s, color 0.2s;
    -moz-transition: background 0.2s, color 0.2s;
    transition: background 0.2s, color 0.2s;
}
.hovicon.effect-1:after {
    top: -7px;
    left: -7px;
    padding: 7px;
    box-shadow: 0 0 0 4px #d4d8d8;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -webkit-transform: scale(.8);
    -moz-transition: -moz-transform 0.2s, opacity 0.2s;
    -moz-transform: scale(.8);
    -ms-transform: scale(.8);
    transition: transform 0.2s, opacity 0.2s;
    transform: scale(.8);
    opacity: 0;
}
/* Effect 1a */
 .hovicon.effect-1.sub-a:hover {
    background: #d4d8d8;
    color: #41ab6b;
}
.hovicon.effect-1.sub-a:hover i {
    color: #41ab6b;
}
.hovicon.effect-1.sub-a:hover:after {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}